---
import Section from '@/components/Section.astro';
import Card from '@/components/Card.astro';
import TechIcon from '@/components/TechIcon.astro';

import workData from '@/data/workExperience.json';
---

<Section title="Experiencia">
  {
    workData.map((item) => (
      <div class='flex gap-x-4 w-full max-w-4xl group/experience'>
        {/* <!-- Timeline --> */}
        <div class='hidden lg:block relative last:after:hidden after:absolute after:top-14 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-light-gray pt-6'>
          <div class='relative z-10 size-7 flex justify-center items-center'>
            <div class='size-2.5 rounded-full bg-light-gray group-hover/experience:bg-light-blue @apply transition-all duration-300 ease-in-out;' />
          </div>
        </div>

        {/* <!-- Content --> */}
        <Card class='transition-all duration-300 ease-in-out hover:scale-[1.02] hover:border-light-gray/25 hover:m-0.5'>
          <div class='space-y-4'>
            <div>
              <span class='text-sm text-gray-300'>{item.duration}</span>
              <h1 class='text-2xl font-bold'>{item.company}</h1>
              <p class='text-light-blue font-semibold'>{item.jobTitle}</p>
            </div>
            <p>{item.description}</p>

            <div class='hidden md:flex gap-4 items-center'>
              <span class='font-bold'>Stack:</span>
              {item.technologies.map((tech) => (
                <div class='relative inline-flex gap-2 items-center justify-center px-2.5 py-1 text-sm text-white rounded-md shadow-2xl border border-white transition-all duration-300 ease-out hover:bg-white/10 hover:cursor-default'>
                  <TechIcon tech={tech} className='size-4' />
                  <span class='relative'>{tech}</span>
                </div>
              ))}
            </div>
          </div>
        </Card>
      </div>
    ))
  }
</Section>
